RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_QUEUE=audit.queue
POSTGRES_HOST=audit-db
POSTGRES_PORT=5432
POSTGRES_USER=audit_user
POSTGRES_PASSWORD=audit_password
POSTGRES_DB=audit_db
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin