RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=change_me
RABBITMQ_PASSWORD=change_me
RABBITMQ_QUEUE=audit.queue
POSTGRES_HOST=audit-db
POSTGRES_PORT=5432
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=change_me
GRAFANA_ADMIN_USER=change_me
GRAFANA_ADMIN_PASSWORD=change_me
